In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error

In [ ]:
df=pd.read_csv("/content/houseprice.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [ ]:
null_val = df.isnull().sum()
null_col = null_val[null_val > 0]
print(null_col)

LotFrontage      259
Alley           1369
MasVnrType       872
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [ ]:
new_df = df.drop(['PoolQC','Fence','MiscFeature','Alley','MasVnrType','FireplaceQu','LotFrontage'], axis=1)

In [ ]:
null_val = new_df.isnull().sum()
null_col = null_val[null_val > 0]
print(null_col)

MasVnrArea       8
BsmtQual        37
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinType2    38
Electrical       1
GarageType      81
GarageYrBlt     81
GarageFinish    81
GarageQual      81
GarageCond      81
dtype: int64

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 74 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   LotShape       1460 non-null   object
 6   LandContour    1460 non-null   object
 7   Utilities      1460 non-null   object
 8   LotConfig      1460 non-null   object
 9   LandSlope      1460 non-null   object
 10  Neighborhood   1460 non-null   object
 11  Condition1     1460 non-null   object
 12  Condition2     1460 non-null   object
 13  BldgType       1460 non-null   object
 14  HouseStyle     1460 non-null   object
 15  OverallQual    1460 non-null   int64
 16  OverallCond    1460 non-null   int64
 17  YearBuilt      1460 non-null   int64
 18  YearRemodAdd   1460 non-null   int64
 19  RoofStyle      1460 non-null   object
 20  RoofMatl       1460 non-null   object
 21  Exterior1st    1460 non-null   object
 22  Exterior2nd    1460 non-null   object
 23  MasVnrArea     1452 non-null   float64
 24  ExterQual      1460 non-null   object
 25  ExterCond      1460 non-null   object
 26  Foundation     1460 non-null   object
 27  BsmtQual       1423 non-null   object
 28  BsmtCond       1423 non-null   object
 29  BsmtExposure   1422 non-null   object
 30  BsmtFinType1   1423 non-null   object
 31  BsmtFinSF1     1460 non-null   int64
 32  BsmtFinType2   1422 non-null   object
 33  BsmtFinSF2     1460 non-null   int64
 34  BsmtUnfSF      1460 non-null   int64
 35  TotalBsmtSF    1460 non-null   int64
 36  Heating        1460 non-null   object
 37  HeatingQC      1460 non-null   object
 38  CentralAir     1460 non-null   object
 39  Electrical     1459 non-null   object
 40  1stFlrSF       1460 non-null   int64
 41  2ndFlrSF       1460 non-null   int64
 42  LowQualFinSF   1460 non-null   int64
 43  GrLivArea      1460 non-null   int64
 44  BsmtFullBath   1460 non-null   int64
 45  BsmtHalfBath   1460 non-null   int64
 46  FullBath       1460 non-null   int64
 47  HalfBath       1460 non-null   int64
 48  BedroomAbvGr   1460 non-null   int64
 49  KitchenAbvGr   1460 non-null   int64
 50  KitchenQual    1460 non-null   object
 51  TotRmsAbvGrd   1460 non-null   int64
 52  Functional     1460 non-null   object
 53  Fireplaces     1460 non-null   int64
 54  GarageType     1379 non-null   object
 55  GarageYrBlt    1379 non-null   float64
 56  GarageFinish   1379 non-null   object
 57  GarageCars     1460 non-null   int64
 58  GarageArea     1460 non-null   int64
 59  GarageQual     1379 non-null   object
 60  GarageCond     1379 non-null   object
 61  PavedDrive     1460 non-null   object
 62  WoodDeckSF     1460 non-null   int64
 63  OpenPorchSF    1460 non-null   int64
 64  EnclosedPorch  1460 non-null   int64
 65  3SsnPorch      1460 non-null   int64
 66  ScreenPorch    1460 non-null   int64
 67  PoolArea       1460 non-null   int64
 68  MiscVal        1460 non-null   int64
 69  MoSold         1460 non-null   int64
 70  YrSold         1460 non-null   int64
 71  SaleType       1460 non-null   object
 72  SaleCondition  1460 non-null   object
 73  SalePrice      1460 non-null   int64
dtypes: float64(2), int64(35), object(37)
memory usage: 844.2+ KB

In [ ]:
for i in new_df.select_dtypes(['number']).columns:
  new_df[i] = new_df[i].fillna(new_df[i].median())

In [ ]:
for i in new_df.select_dtypes(['object']).columns:
   new_df[i]=new_df[i].fillna(new_df[i].mode()[0])

In [ ]:
new_df.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 74, dtype: int64

In [ ]:
for i in new_df.select_dtypes(['object']).columns:
  encoder = LabelEncoder()
  encoder.fit(new_df[i].unique())
  new_df[i] = encoder.transform(new_df[i])

In [ ]:
pca = PCA(n_components=10)
dfs = pca.fit_transform(new_df)
dfs

array([[ 2.74935268e+04, -2.99392248e+03,  2.96428236e+02, ...,
        -1.56882205e+02, -2.11591877e+01,  7.39807722e+01],
       [ 5.47725744e+02, -9.29996083e+02, -7.42736161e+02, ...,
        -6.31097866e+01,  7.00378939e+00, -8.25358206e+01],
       [ 4.25794631e+04, -7.01924456e+02,  4.76998292e+02, ...,
        -1.39994087e+02, -2.14257679e+01,  8.56168650e+01],
       ...,
       [ 8.54831513e+04, -4.35074596e+03,  1.00074280e+03, ...,
        -7.19156367e+01,  1.73966119e+02, -3.49546642e+02],
       [-3.88049464e+04,  5.06469098e+02, -2.75691953e+02, ...,
         6.38957593e+02,  9.09148217e+02,  2.78321802e+02],
       [-3.34215848e+04,  5.50691017e+02, -6.93949968e+02, ...,
         1.05906582e+02,  3.16755558e+02, -3.44064677e+01]])

In [ ]:
pca_df = pd.DataFrame(data=dfs, columns=[f'PC{i+1}' for i in range(10)])
pca_df['SalePrice'] = new_df['SalePrice']
pca_df

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,SalePrice
0,27493.526833,-2993.922480,296.428236,-734.028385,-135.691084,-236.662393,-701.207853,-156.882205,-21.159188,73.980772,208500
1,547.725744,-929.996083,-742.736161,-242.225877,-30.996235,-268.045871,-675.598081,-63.109787,7.003789,-82.535821,181500
2,42579.463102,-701.924456,476.998292,-418.126543,-106.845699,-336.053554,-648.767572,-139.994087,-21.425768,85.616865,223500
3,-40929.735873,409.253780,574.701087,-102.330360,-69.330897,-18.717142,-787.646999,15.175447,-98.582159,142.367327,140000
4,69169.764681,1418.328101,521.417365,-376.843651,-93.320243,27.088038,-802.296563,-151.295691,-104.733049,282.389041,250000
...,...,...,...,...,...,...,...,...,...,...,...
1455,-6005.621148,-2405.175391,644.751339,301.305853,-34.574430,260.634753,668.348930,-137.078078,58.098630,-24.476568,175000
1456,29158.155353,1688.771088,-607.781651,355.179040,43.367167,933.559546,404.066656,466.104984,-42.584993,-101.982483,210000
1457,85483.151295,-4350.745963,1000.742804,-343.140297,2413.162061,426.507284,640.000435,-71.915637,173.966119,-349.546642,266500
1458,-38804.946446,506.469098,-275.691953,-161.097082,-82.621780,2.395191,792.190718,638.957593,909.148217,278.321802,142125
1459,-33421.584791,550.691017,-693.949968,-253.015105,-57.957341,469.879348,583.624744,105.906582,316.755558,-34.406468,147500

In [ ]:
from sklearn.ensemble import RandomForestRegressor
x = pca_df.drop('SalePrice', axis=1)
y = pca_df['SalePrice']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
model = RandomForestRegressor()
model.fit(x_train,y_train)
prediction = model.predict(x_test)
print(mean_squared_error(prediction,y_test))
print(r2_score(prediction,y_test))

7309307.997004803
0.9989201889839497

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(mean_squared_error(y_pred,y_test))
print(r2_score(y_pred,y_test))

0.002064484964867229
0.9999999999996882